@supports(grid-area:auto) {

  .body {
    font-family: "Myriad Pro", sans-serif;
  }

  .site {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 35px 110px 100px 800px 75px;
    grid-template-areas:
      'hd hd hd hd hd'
      'nv nv nv nv nv'
      '. dash dash dash .'
      'main main main main main'
      'ft ft ft ft ft';
  }

  .header {
    grid-column: 1/6;
    background: #2292eb;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-image: radial-gradient(farthest-side at 90% 10%, #2497f2, #1e86da);
  }

  .navbar {
    grid-column: 1/6;
    display: flex;
    justify-content: space-between;
    background-color: #144c7b;
    background: repeating-linear-gradient(135deg,
      #144c7b,
      #144c7b 1px,
      #134570 1px,
      #134570 2px);
    background-image: radial-gradient(farthest-side white);
  }

  .dashboard {
    grid-column: dash;
    background-color: #33cc66;
    margin: .5em;
    border-radius: 4px;
    justify-content:flex-end;
    align-content: center;
  }

  .main-content {
    grid-column: 2/5;
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px ;
    padding: .9em;
    border-radius: 4px;
    background-image: linear-gradient(#f6f6f6, #fff);
  }

  .announcements {
    grid-column: 1/4;
    grid-row: 40px;
    background-color: #fff;
    justify-content:space-between;
    align-items: center;
    display: flex;
    padding: 10px;
    border-bottom: 1px;
  }

  .tasks {
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: #fff;
  }

  .analytics {
    grid-column: 2/4;
    grid-row: 2/5;
    background-color: #fff;
  }

  .recs {
    grid-column: 1/2;
    grid-row: 4/8;
    background-color: #aaee55;
  }

  .contacts {
    grid-column: 2/4;
    grid-row: 5/7;
    background-color: #556677;
  }

  .slider {
    grid-column: 2/4;
    grid-row: 7/8;
    background-color: #543778;
  }

  .cards {
    grid-column: 1/4;
    grid-row: 8/9;
    background-color: #889900;
  }

  .footer {
    grid-column: 1/6;
    background-color: #f7f7f7;
    box-shadow: 0 0 20px 5px gray;
  }


  @media screen and (max-width:767px) {
    .main-content {
      grid-template-columns: 1fr;
      grid-template-rows: 25px 25px 75px 75px 25px 25px 25px;
      grid-template-areas:
        'accouncements'
        'tasks'
        'analyticss'
        'recs'
        'contacts'
        'slider'
        'cards';
    }

    .dashboard {
      grid-column: 1/6;
    }

  }

  h1 {
    color: #2498f4;
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
  }

  h2 {
    color: #fff;
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
  }

  h3 {
    font-size: 10px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    color: #fff;
    margin: 5px;
  }

  h4 {
    font-size: 15px;
    color: #fe7f13;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
  }

  p {
    font-size: 15px;
    color: #777;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
  }

  .icons {
    justify-content: center;
    display: flex;
    align-items: center;
  }


  .search {
    display: flex;
    width: 10%;
    position:sticky;
  }

  .searchTerm {
    display: flex;
    float: left;
    width: 50px%;
    border: 3px solid #f7f7f7;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #f7f7f7;
  }

  .searchTerm:focus{
    color: #f7f7f7;
  }

  .searchButton {
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #f7f7f7;
    background: #fff;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }



}
