@supports(grid-area:auto) {

  .body {
    font-family: "Myriad Pro", sans-serif;
  }

  .site {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 40px 110px 100px 1200px 70px;
    grid-template-areas:
      'hd hd hd hd hd'
      'nv nv nv nv nv'
      '. dash dash dash .'
      '. main main main .'
      'ft ft ft ft ft';
  }

  .header {
    grid-area: hd;
    grid-column: 1/6;
    background: #2292eb;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-image: radial-gradient(farthest-side at 90% 10%, #2497f2, #1e86da);
    padding-right: 10%;
  }

  .navbar {
    grid-area: nv;
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #144c7b;
    position: relative;
    z-index: -1;
    background: repeating-linear-gradient(135deg,
      #144c7b,
      #144c7b 1px,
      #134570 1px,
      #134570 2px);

  }

  .icon-nav {
    vertical-align: middle;
    justify-content: center;
    display: block;
    z-index: 9999;
  }

  .navbar-fade {
    position: relative;
    z-index: 0;
  }

  .dashboard {
    display: flex;
    grid-area: dash;
    background-color: #33cc66;
    margin: .5em;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    justify-content:space-between;
    align-content: center;
  }

  .main-content {
    display: grid;
    grid-area: main;
    background-color: #fff;
    padding: .9em;
    border-radius: 4px;
    background-image: linear-gradient(#f6f6f6, #fff);
    flex-wrap: wrap;
  }

  .announcements {
    grid-area: ann;
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #fff;
    justify-content:space-between;
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #f7f7f7;
  }

  .tasks {
    grid-area: tasks;
    grid-column: 1/3;
    grid-row: 2/4;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: flex-start;
    border: 1px solid #f7f7f7;
  }

  .icon-number {
    border: 1px;
    border-color: #000;
    border-radius: 5px;
  }


  .analytics {
    grid-area: analy;
    grid-column: 3/5;
    grid-row: 2/5;
    background-color: #fff;
    border-left: 3px;
    border-color: #777;
    border: 1px solid #f7f7f7;

    display: flex;
    flex-wrap: wrap;
  }

  .recs {
    grid-area: recs;
    grid-column: 1/3;
    grid-row: 4/6;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts {
    grid-area: contacts;
    grid-column: 3/5;
    grid-row: 5/7;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .slider {
    grid-area: slider;
    grid-column: 3/5;
    grid-row: 7/8;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .cards {
    grid-area: cards;
    width:100%;
    grid-column: 1/5;
    grid-row: 8/9;
    background-color: #2394ee;
    border: 1px solid #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    grid-area: ft;
    grid-column: 1/6;
    grid-row: 9/10;
    background-color: #f4f4f4;
    box-shadow: 0 0 5px 3px #ddd;
    margin-top: 70px;
    padding: 10px;;
    margin-bottom: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
  }


  h1 {
    color: #2498f4;
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    padding-left: 10%;
  }

  h2 {
    color: #fff;
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
  }

  h3 {
    font-size: 12px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    color: #fff;
    margin: 5px;
  }

  h4 {
    font-size: 15px;
    color: #fe7f13;
    font-family: "Myriad Pro", sans-serif;
  }

  h5 {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #2394ee;
  }

  h6 {
    font-size: 12px;
    font-family: 'Myriad Pro';
    font-weight: normal;
    color: #777;
    margin: 3px;
  }

  p {
    font-size: 15px;
    color: #777;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    display: flex;
    margin: 3px;
  }

  a {
    text-decoration: none;
  }

  .fade-line {
    display:block;
    border:none;
    color:white;
    height:20px;
    width: 1px;
    background:linear-gradient(180deg ,  gray 30%, rgba(255,255,255,0));
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content:

  }

  .search {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding-top: 25px;
  }


  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #f7f7f7;
    padding: 5px;
    height: 20px;
    border-radius: 3px;
    outline: none;
    color: #777;
  }

  .searchTerm:focus{
    color: #00B4CC;
  }

  .searchButton {
    position:sticky;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
  }

  .vertical-line {
    display:block;
    border:none;
    color:white;
    height:100%;
    width: 2px;
  }

  .header-title {
    margin: 12px;
  }

  .header-title:hover {
    transform: scale(1.2); }

  hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
      color: #777;
  }

  .number .ellipse-green {
      position : relative;
      top      : 0;
      right    : 0;
      left     : 0;
      height   : 40px;
      z-index  : 2;
      display  : flex;
      padding-left: 5%;}


  .number {
      display: block;
      width: 50px;
      height: 40px;
      text-indent: 7px;
      padding-top: 4px;
      z-index: -1;
      color: #fff;
      font-family: 'Myriad Pro', sans-serif;
      }

  ul {
    list-style-type: none;
    width: 300px;
    margin-bottom: 50px;
  }

  li {
    display: flex;
    overflow: auto;
    display: inline;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 30px;
  }

  li:hover {
    color: #f6f6f6;
  }

  .ellipse-green {
    float: left;
    margin: 0 15px 0 0;
  }

  .person-icon-blue {
    display: inline;
    float: right;
  }

  .tasks-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 30px;
  }

  .icon-number {
    display: flex;
    float: right;
    justify-content: center;
    align-items:center;
    height: 15px;
    width: 35px;
    border: 1px solid #f7f7f7;
    padding: 10px;
  }

  .dropbtn {
    background-color: #f5f5f5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
}


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  .dropdown-content a:hover {
    background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block; }

  .icon-article {
    float: left;
    margin: 0 15px 0 0;
  }

  .icon-checklist {
    float: left;
    margin: 0 15px 0 0;
    padding-bottom: 10px;
  }

  .icon-tip {
    float: left;
    margin: 0 15px 0 0;
    padding-bottom: 10px;
    padding-right: 7px;
  }

  br {
    height: 2px;
  }

  .contact-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 225px;
    height: 225px;
    margin: 25px;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
}

  .container {
    padding: 20px 16px;
    padding-top: 50%;
    align-items: center;
    justify-content: center;
    display: inline;
    font-family: 'Myriad Pro';
    position: relative;
  }

  .colored-box {
    position: relative;
    background-color: #2394ee;
    height: 60px;
    width: 100%;
    z-index: 999;
    margin-top: -12%;
    margin-bottom: 20px;
  }


  .avatar-orange {
    position: relative;
    z-index: 1;
  }

  .avatar-green {
    z-index: 1;
  }

  .contact-title {
    color: #fff;
    font-family: 'Myriad Pro' sans-serif;
    font-size: 20px;
    font-weight:lighter;
    padding-top: 10px;
    letter-spacing: 2px;
  }

  .contact-subtitle {
    color: #fff;
    font-weight: lighter;
    font-family: 'Myriad Pro' sans-serif;
    font-size: 13px;
    padding-top: 1px;
  }

  .slider-card {
    width: 95%;
    height: 150px;
    background-color: #2394ee;
    margin: 10px;
    border-radius: 5px;

  }

  .slider-title {
    color: #fff;
    font-family: 'Myriad Pro' sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .slider-text {
    color: #fff;
    font-family: 'Myriad Pro' sans-serif;
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .slider-arrow-left {
    float: left;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
  }

  .slider-arrow-right {
    float: right;
    margin-top: -78px;
  }

  .card {
    width: 250px;
    height: 150px;
    border: 1px solid #f7f7f7;
    margin: 30px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

  .card-graphic-people {
    z-index: -2;
    width: 100%;
    height: 100%;
    margin-top: -16px;
  }

  .card-graphic-orange {
    max-width: 100%;
    max-height: 100%;
    float: right;
    width: 250px;
    z-index: -2;
  }

  .card-graphic-green {
    float: left;
    z-index: -2;
  }

  .card-green-text {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    color: #33cc66;
    z-index: 999;
    text-align: right;
    padding-top: 40px;
  }

  .card-green-subtext {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
    z-index: 999;
    text-align: right;
  }

  .card-box {
    position: relative;
    background-color: #33cc66;
    width: 220px;
    height: 30px;
    border-radius: 3px;
    justify-content: center;
    margin-top: 30%;
    margin-left: 5%;
    z-index: 2;
  }

  .card-people-text {
    position: relative;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    z-index: 4;
  }

  .card-orange-text {
    position: relative;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    color: #ff9b13;
    z-index: 999;
    text-align: left;
    padding-top: 40px;
  }

  .banner-left {
    float: left;
    z-index: 1;
    margin-right: -25px;
    margin-top: 80px;
  }

  .banner-right {
    float: right;
    z-index: 1;
    margin-left: -25px;
    margin-top: 80px;
  }

  .line {
    display:block;
    border:none;
    color:gray;
    height:20px;
    width: 1px;
  }


  @media only screen and (min-width: 400px) {
    .main-content {
      grid-template-columns: 150px 200px 400px;
      min-width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .main-content {
      grid-template-columns: 1fr;
      min-width: 100%;
      flex-wrap: wrap;
    }

    .site {
      grid-template-columns: 1fr;
      grid-template-areas:
        'hd'
        'nv'
        'dash'
        'main'
        'ft';
    }
  }

}
